

/* shared styles */
  .display-flex{
    display: flex;
  }

.text-primary{
    color: #FF900E;
}


  /* \dark 02 */
 .text-gray{
    color: #424242;
 }
.text-light-gray{
     color: #727272;
}
.bg-light{
    background-color: rgba(238, 131, 8, 0.1)

}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;


}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* header styles */



/* navber related styles */
.navber{
  justify-content: space-between;
  align-items: center;
}
.brand{

    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 40px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navber, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-images{
    width: 100%;
}
/* team and frature related style */
.teams{
    align-items: center;

}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

}

.our-features{
    margin-left: 130px;
    max-width: 530;
}
#quick-list{
    font-weight: 500;
}
/*  reatures section related styles */

#feature-section-title{
     border-left: 5px solid #FF900E;
     padding-left: 20px;
}


.features{
  gap: 140px;
}

.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(8, 8, 8, 0.096);
    margin-top: 20px;
}
.featuer-title{
           font-weight: 600;
           font-size: 1.25rem;
           margin-top: 0;
           margin-bottom: 0;
}




/* some facts */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom:5px;
    color: #424242;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0 auto;
    color: #727272;
}
.section-paragraph{
    max-width: 542px;
    margin-bottom:90px;
}
/* sponsor related styles */

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sopnsor-company{
   display:grid;
   grid-template-columns:repeat(5,1fr) ;
}
.sopnsor-company img{
    filter: grayscale(100%);
}

/* reaponsive media qurey */
@media screen and (max-width:576px){
    .navber,
    .nav-link,
     .teams{
            flex-direction: column;
    }
    .team-img, .facts-container{
        grid-template-columns: repeat(1,1fr);
    }
    .facts-container{
        justify-items: center;
    }
      .some-facts{
        justify-items: center;
        text-align: center;
    }
   .our-features{
    margin-left: 20px;
   }
   .sopnsor-company{
       grid-template-columns: 1fr;
       justify-items: center;
       gap: 40px;
   }


}

/* medium size device */
@media screen and (min-width:576px ) and (max-width:992px){
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 50px auto;
        max-width:590px;
    }
    .facts-container{
              grid-template-columns: repeat(2,1fr);
              justify-items: center;
              margin: 0 auto;
    }
    .some-facts{
        justify-items: center;
        text-align: center;
    }
    .sopnsor-company{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 50px;
    }
 }
