

/* shared styles */
  .display-flex{
    display: flex;
  }
  /* \dark 02 */
 .text-gray{
    color: #424242;
 }
 
.text-light-gray{
     color: #727272;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;


}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
    margin-top: 130px;
}

/* header styles */



/* navber related styles */
.navber{
  justify-content: space-between;
  align-items: center;
}
.brand{

    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 40px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.navber, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-images{
    width: 100%;
}
/* team and frature related style */
.teams{
    align-items: center;

}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

}

.our-features{
    margin-left: 130px;
    max-width: 530;
}
.feature-title{
    font-size: 2.8rem;
}
/* reaponsive media qurey */
@media screen and (max-width:576px){
    .navber,.nav-link{
            flex-direction: column;
    }
}